h2 {
    color: red;
    transform: translateY(100px);
}

.smallImg {
    width: 69px;
    height: 75px;
    background: url('@/assets/images/5kb.png') no-repeat;
}

.bigImg {
    width: 232px;
    height: 154px;
    background: url('@/assets/images/22kb.png') no-repeat;
}